@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: oklch(99.23% 0.006 325.627);
  --appBlue: oklch(32.39% 0.177 266.91);
  --appGold: oklch(91.52% 0.079 80.18);

}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--appBlue);
  }
}

body {
  color: var(--appBlue);
  background: var(--backgroundColor)
}

header {
  background-color: var(--backgroundColor);
}

@layer utilities {
  .map-container {
    height: 45dvh;
    width: 100dvw;
  }

  .mapboxgl-popup-content {
    padding: 0 !important;
  }

  /* styling custom map markers to point to location */
  .markerPin::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--appBlue);
  }

  .text-balance {
    text-wrap: balance;
  }

  .tempBackground {
    background-image: linear-gradient(90deg, oklch(70.44% 0.1536 237.18) 0%, oklch(65.61% 0.1887 143.75) 45%, oklch(65.61% 0.1887 143.75) 55%, oklch(46.24% 0.1884 27.53) 100%);
    z-index: 1;

    & div {
      font-weight: bold;
      text-shadow: -1px 1px 0px var(--backgroundColor),
        /* Left outline */
        1px 1px 0px var(--backgroundColor),
        /* Right outline */
        1px -1px 0px var(--backgroundColor),
        /* Top outline */
        1px 1px 0px var(--backgroundColor);
    }

  }

  #weatherConditions {
    background-color: var(--backgroundColor);
  }

  #defaultProfilePics input[type="radio"]:checked + label img{
    border-width:4px;
    border-color:var(--appBlue);
  }
}